<div id="wrapper">
    <div id="menu">
        <app-sidemenu></app-sidemenu>
    </div>
    <div id="content">
        <p>Ukupno redova: {{rowNum}}</p>
        <table>
            <tr>
                <th>sifra_artikla</th>
                <th>naziv_artikla</th>
                <th>jedinica_mere</th>
                <th>stopa_poreza</th>
                <th>proizvodjac</th>
            </tr>
            <tr *ngFor="let g of selectedGoods">
                <td>{{g.code}}</td>
                <td>{{g.name}}</td>
                <td>{{g.unit}}</td>
                <td>{{g.tax}}</td>
                <td>{{g.manufacturer}}</td>
                <td><button (click)="delete(g.code)">Delete</button></td>
                <td><button (click)="formAppearUpdate(g.code)">Izmeni</button></td>

            </tr>
        </table>
        <button *ngIf="rowNum>10" (click)="prev()">&#60;-</button>
        {{curRow}}
        <button *ngIf="rowNum>10" (click)="next()">-></button>
        <br/>

        <button (click)="formAppear('novo')">Unos</button>
        <br/>
        <ul class="nav" *ngIf="form">
            <li class="nav-item" *ngFor="let m of select">
                <span (click)="setSelectedItem(m)">{{m}}</span>
            </li>
        
        </ul>
        
        <ng-container *ngIf="selected === 'opsti podaci'">

            code:<input value="{{code}}" [(ngModel)]="code">
            <br/>
            name: <input value="{{name}}" [(ngModel)]="name">
            <br/>
            unit: <input value="{{unit}}" [(ngModel)]="unit">
            <br/>
            tax: <input value="{{tax}}" type="number" [(ngModel)]="tax">
            <br/>
            tip: 
            <label for="hrana">hrana</label>
            <input type="radio" value="hrana" name="tip" [(ngModel)]="type" id="hrana">
            <label for="hrana">pice</label>
            <input type="radio" value="pice" name="tip" [(ngModel)]="type" id="pice">
            <label for="hrana">sirovina</label>
            <input type="radio" value="sirovina" name="tip" [(ngModel)]="type" id="sirovina">
            <br/>
            <button (click)="add()" *ngIf="state == 'novo' ">Dodaj</button>
            <button (click)="update()" *ngIf="state == 'staro' ">Azuriraj</button>
            

        </ng-container>
        <ng-container *ngIf="selected === 'dopunski podaci'">

            zemlja prekla:<input value="{{country}}" [(ngModel)]="country">
            <br/>
            strani naziv: <input value="{{foreignName}}" [(ngModel)]="foreignName">
            <br/>
            bar kod: <input value="{{barcode}}" [(ngModel)]="barcode">
            <br/>
            manufacturer: <input value="{{manufacturer}}" [(ngModel)]="manufacturer">
            <br/>
            tarifa:<input type="number" value="{{tariff}}" [(ngModel)]="tariff">
            <br/>
            tip takse:<input type="checkbox" value="eko" [(ngModel)]="taxType"> 
            <br/>
            zalihe <input type="number" value="{{amount}}" [(ngModel)]="amount">
            <br/>
            opis: <input value="{{description}}" [(ngModel)]="description">
            <br/>
            deklaracija:<input value="{{declaration}}" [(ngModel)]="declaration">
            <br/>

        </ng-container>
        <ng-container *ngIf="selected === 'cene i stanje robe'">

            <table>
                <tr>
                    <th>naziv</th>
                    <th>nabavna cena</th>
                    <th>prodajna cena</th>
                </tr>
                <tr *ngFor="let o of allObjects">
                    <td>{{o.name}}</td>
                    <td>{{o.sellingPrice}}</td>
                    <td>{{o.purchasePrice}}</td>
                </tr>
            </table>


            <div class="input">
                naziv: <select [(ngModel)]="storage">
                    <option *ngFor="let o of company.objects">{{o.name}}</option>
                </select>
                <br/>
                prodajna cena: <input value="{{purchasePrice}}" type="number" [(ngModel)]="purchasePrice">
                <br/>
                nabavna cena <input  value="{{sellingPrice}}" type="number" [(ngModel)]="sellingPrice">
                <br/>
                stanje: <input type="number" value="{{stock}}" [(ngModel)]="stock">
                <br/>
                minimalna kolicina: <input type="number" value="{{minimalAmount}}" [(ngModel)]="minimalAmount">
                <br/>
                maksimalna kolicina: <input type="number" value="{{maximalAmount}}" [(ngModel)]="maximalAmount">
                <br/>
                <button (click)="addObject()">Dodaj objekat</button>
            </div>

        </ng-container>
        
    </div>
</div>
