<div class="wrapper">
    <div class="menu">
        <ul>
            <li (click)="store()">prodavnica</li>
            <li (click)="bills()">moji racuni</li>
            
        </ul>
    </div>
    <div class="content">

        <h2>Izaberite preduzece:</h2>
        <select [(ngModel)] = "selectedCompanyName">
            <option *ngFor="let c of companies" (click)="selectCompany(c.companyName)"  selected="true"t>{{c.companyName}}</option> 
        </select>
        
        <div class="table">

            <table>
                <tr>
                    <th>Artikal</th>
                    <th>Proizvodjac</th>
                    <th>minimalna cena</th>
                    <th>objekti</th>
                </tr>
                <tr *ngFor="let t of tableRows">
                    <td>{{t.article}}</td>
                    <td>{{t.name}}</td>
                    <td>{{t.price}}</td>
                    <td>{{t.object}}</td>
                </tr>
            </table>

            Naziv:<input type="radio" value="naziv" name="radio" [(ngModel)]="searchType">
            Proizvodjac<input type="radio" value="proizvodjac" name="radio" [(ngModel)]="searchType">
            <input type="text" [(ngModel)]="searchParam">
            <button (click)="search()">Pretrazi</button>

        </div>

    </div>
</div>