.login{
    margin:100px;
    margin-top: 50px;
    margin-bottom: auto ;
    width: 8em
}

#message{
    color: red;
}

#login{
    background-color: #02375f;
    color: white;
    padding: 8px;
    width: 100px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    
}
.vl{
    margin-left: 600px;
    border-left: 3px solid black;
    height: 300px;
}
.content{
    display: inline-block;
   
}