<div id="wrapper">
    <div id="menu">
    <app-sidemenu></app-sidemenu>
    </div>
    <div id="content">
        <table >

            <tr>
                old Password: <input type="password" [(ngModel)]="password">
            </tr>
            <tr>
                new Password: <input type="password" [(ngModel)]="newPassword1" pattern="(?=.*[a-z]).{8,12}">
            </tr>
            <tr>
                new Password: <input type="password" [(ngModel)]="newPassword2" pattern="(?=.*[a-z]).{8,12}">
            </tr>
            <tr>
                <button (click)="changePassword()">Submit</button>
            </tr>
            {{message}}
        
        </table>
    </div>
</div>