<body>
    <div id="wrapper">

         <div id="menu">
            <!--<ul id="menuList">
                <li (click)="details()" class="menuItems">Company details</li>
                <li class="menuItems" (click)="orderers()">Orderers</li>
                <li class="menuItems">Goods and services</li>
                <li class="menuItems">Article category</li>
                <li class="menuItems">Table layout</li>
                <li class="menuItems">Accounts</li>
                <li class="menuItems">Fiscal review</li>
            </ul> -->
            <app-sidemenu></app-sidemenu>
        </div> 
        
        <div id="content">

            <ul class="nav">
                <li class="nav-item" *ngFor="let m of menuLists">
                    <span (click)="setSelectedItem(m)">{{m}}</span>
                </li>
            
            </ul>

            <ng-container *ngIf="selected === 'opste informacije'">

                category:<input value="{{category}}" [(ngModel)]="category">
                <br/>
                code: <input value="{{code}}" [(ngModel)]="code">
                <br/>
                pdv: <input value="{{pdv}}" [(ngModel)]="pdv">
                <br/>
                bankAccount: <input value="{{bankAccount}}" [(ngModel)]="bankAccount">
                <br/>
                number of storages:<input value="{{noOfStorages}}" [(ngModel)]="noOfStorages">
                <br/>
                number of cash registers<input value="{{noOfCashRegisters}}" [(ngModel)]="noOfCashRegisters"> 
                <br/>
                <button (click)="update()">Azuriraj</button>

            </ng-container>
            <ng-container *ngIf="selected === 'detalji'">
                detalji

                <label>category: {{category}}</label>
                <br/>
                <label>code: {{code}}</label>
                <br/>
                <label>pdv: {{pdv}}</label>
                <br/>
                <label>bankAccount: {{bankAccount}}</label>
                <br/>
                <label>number of storages: {{noOfStorages}}</label>
                <br/>
                <label>number of cash reigisters: {{noOfCashRegisters}}</label>

            </ng-container>
        </div>
    </div>


</body>
