body{
    margin: 0;
    padding: 0;
    display: flex;
}
ul{
    margin: 0;
    padding: 0;
    position: absolute;
    background: #2c3e50;
    width: 15%;
    text-align: center;
    
}
ul li{
    margin-top: 20px;
    font-size: 17px;
    padding: 20px;
    text-transform:  uppercase;
}
ul li:hover{
        background: #1b9bff;
        transition: .5s;
}

label{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}
#wrapper {
    width: 600px;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#menu {
    width: 300px;
    float:left; /* add this */
    
}
#content {
    float: right;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}