<body>
    <div id="wrapper">

         <div id="menu">
            <app-sidemenu></app-sidemenu>
        </div> 
        
        <div id="content">

            <ul class="nav">
                <li class="nav-item" *ngFor="let m of menuLists">
                    <span (click)="setSelectedItem(m)">{{m}}</span>
                </li>
            
            </ul>
            
            <ng-container *ngIf="selected === 'opste informacije'">

                Vlasnik:<input type="text" [(ngModel)]="fullName" > 
                <br/>
                Email:<input type="text" [(ngModel)]="email" > 
                <br/>
                Telefon:<input type="text" [(ngModel)]="phone" > 
                <br/>
                Ime kompanije:<input type="text" [(ngModel)]="companyName" >
                <br/> 
                category:<input value="{{category}}" [(ngModel)]="category">
                

            </ng-container>
            <ng-container *ngIf="selected === 'detalji'">

                kod: <input value="{{code}}" [(ngModel)]="code">
                <br/>
                pdv: <input value="{{pdv}}" [(ngModel)]="pdv">
                <br/>
                racuni: <input value="{{bankAccount}}" [(ngModel)]="bankAccount">
                <br/>
                broj objekta:<input value="{{noOfStorages}}" [(ngModel)]="noOfStorages">
                <br/>
                broj kasa<input value="{{noOfCashRegisters}}" [(ngModel)]="noOfCashRegisters"> 
                
            </ng-container>
            <ng-container *ngIf="selected === 'objekti'">

                <table>
                    <tr>
                        <th>Naziv</th>
                    </tr>
                    <tr  *ngFor='let o of objects'>
                        <td>{{o.name}}</td>
                    </tr>
                </table>
                
            </ng-container>
            <br/>
            <button (click)="update()">Azuriraj</button>
        </div>
    </div>


</body>